<p style="color: green"><%= notice %></p>

<%= render @patient %>
<hr/>
<%= link_to "add apointment", new_appointment_path(@apointment) %>
<hr/>
<div>
  <%= link_to "Edit this patient", edit_patient_path(@patient) %> |
  <%= link_to "Back to patients", patients_path %>

  <%= button_to "Destroy this patient", @patient, method: :delete %>
</div>
<hr/>


<div style = "text-align:center">
<p style="color: red "> to see all doctors of  Patient <%= @patient.name  %>  please </p>

  <%= link_to " click here ", patient_get_doctors_path(@patient.id), remote: true %>

<p style="color: red ">  patient <%= @patient.name  %> has <%= @patient.doctors.count  %> doctors </p>

